[Desktop Entry]
Name=Signal Desktop
StartupWMClass=signal
Comment=Private messaging from your desktop
GenericName=Messenger
Exec=signal-desktop --no-sandbox %U
Icon=signal-desktop
Type=Application
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;

