// Allow any user in the 'libvirt' or the 'wheel' group to connect to system libvirtd
// without entering a password.

polkit.addRule(function(action, subject) {
    if (action.id == "org.libvirt.unix.manage" &&
        (subject.isInGroup("libvirt") ||
        (subject.isInGroup("wheel") &&
          subject.local == true &&
          subject.active == true))) {
        return polkit.Result.YES;
    }
});
